<!doctype html>

<html>

<head>

<title>Welcome to Blackjack</title>

</head>

<body>

<h1>Blackjack</h1>
<p>Find out your fate here in Tukwila</p>

<h4>Dealer: </h4>
{{#dealerHand.cards.1}}
	<div>{{ visualRepresentation }} of {{ suite }}</div>
{{/dealerHand.cards.1}}

<div>
Hole card
</div>
<br>
<br>
<hr>
<h4>Player:</h4>
<p>You have bet ${{ betAmount }}.00 </p>
{{#hand.cards}}
	<div>{{ visualRepresentation }} of {{ suite }}</div>
{{/hand.cards}}
<br>

<form method="post" action="/hit">
	<button>Hit</button>
</form>
<br>
<form method="post" action="/stand">
	<button>Stand</button>
</form> 
<br>


<h6>You currently have ${{ wallet }}.00 in your wallet</h6>

<form method="post" name="endGame" action="/endGame">
	<button>Leave Match</button>
</form> 

		<h6>Values of card hands:</h6>
		{{#hand.values}}
			<div>Value: {{ . }}</div>
		{{/hand.values}}
		<hr>




</body>

</html>