<!doctype html>

<html>

<head>

<title>Welcome to Blackjack</title>

</head>

<body>

<h1>Blackjack</h1>
<p>Find out your fate here in Tukwila</p>

<h4>Dealer: </h4>
<br>
<br>
<hr>
<h4>Player:</h4>
<br>


<h4>Please place a bet, Priya</h4>
<form method="post" action="/bet">
	<input autofocus type="number" min="0" step="any" name="betAmount" value="0"  required>
	<button>Bet</button>
</form>

<h6>You currently have ${{ wallet }}.00 in your wallet</h6>
<!-- <form method="post" action="/hit">
	<button>Hit</button>
</form>


<br>
<form method="post" action="/stand">
	<button>Stand</button>
</form> -->




</body>

</html>